{% extends "base.html" %}

{% block content %}
    <h1>Bienvenido {{ user}}!</h1>
    <hr>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.fecha.label }}
            {{ form.fecha(size=32) }}
            {{ form.submit }}
            {% for error in form.fecha.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    
    <h3> Control de registro de visitantes para la fecha {{ date }}</h3>
    <table>
    	<thead>
    		<tr>
    			<th> Cedula </th>
    			<th> Nombre </th>
                <th> Motivo </th>
                <th> Equipos </th>
    			<th> Vigilancia de Registro </th>
    			<th> Cedula que Otorga Acceso </th>
    			<th> Nombre del que Otorga Acceso </th>
                <th> Hora de Entrada</th>
                <th> Hora de Salida</th>
                <th> Fecha de Salida</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for item in history %}
    			<tr>
    				<th> {{ item[0] }}</th>
    				<th> {{ item[1] }} {{ item[2] }}</th>
    				<th> 
                        {% if item[3] %}    
                            {{ item[3] }}
                        {% else %}
                            No posee
                        {% endif %}
                    </th>
                    <th> 
                        {% if item[4] %}    
                            {{ item[4] }}
                        {% else %}
                            No posee
                        {% endif %}
                    </th>
                    <th> {{ item[5] }}</th>
    				<th> 
    					{% if item[6] %}	
    						{{ item[6] }}
    					{% else %}
    						No posee
    					{% endif %}
    				</th>
    				<th> 
    					{% if item[7] %}	
    						{{ item[7] }} {{ item[8] }}
    					{% else %}
    						No posee
    					{% endif %}
    				</th>
                    <th> {{ item[9] }}</th>
                    <th> {% if item[10] %}
                            {{ item[10] }}
                        {% else %}
                            No posee
                        {% endif %}
                    </th>
                    <th> {% if item[11] %}
                            {{ item[11] }}
                        {% else %}
                            No posee
                        {% endif %}
                    </th>
    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
{% endblock %}